app/devTmp
node_modules
dist
.tmp
.sass-cache
app/bower_components
app/lib
.DS_Store
.thumb
.authrc
app/views
app/**/*.html
.idea
npm-debug.log
zip
*.zip
app/i18n/en.json
app/i18n/va.json
app/i18n/ca.json
utils/credentials.json