doctype html
html(data-ng-app="app", ng-strict-di)
    head
        title Angular App Base
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        // Styles:
        include jade/styles
    body
        div(ng-view)

// Javascripts:
include jade/bower
include jade/values
include jade/filters
include jade/services
include jade/directives
include jade/components